/**
 * Automatisch gegenereerd op basis van design tokens.
 * De bron is tokens.json uit de MOx repository.
 * Gegenereerd op 18-2-2026, 18:04:13
 * _rijkshuisstijl.css bevat opties uit de Rijkshuisstijl, _mox.css bevat de toepassing van deze opties. Refereer in het CSS bestand alleen aan de variabelen in _mox.css, niet aan die in _rijkshuisstijl.css.
 * CSS variabelen worden automatisch gegenereerd, bewerk deze niet handmatig.
 */
:root {
  --mox-border-card-default: var(--mox-box-shadow-default);
  --mox-border-component-pageheader-border: var(--rijkshuisstijl-border-width-2) solid var(--rijkshuisstijl-color-hemelblauw-500);
  --mox-border-default: 1px solid var(--rijkshuisstijl-color-grijs-300);
  --mox-border-radius-md: var(--rijkshuisstijl-border-radius-4);
  --mox-border-radius-round: 999px;
  --mox-border-radius-sm: var(--rijkshuisstijl-border-radius-2);
  --mox-border-width-lg: var(--rijkshuisstijl-border-width-3);
  --mox-border-width-md: var(--rijkshuisstijl-border-width-2);
  --mox-border-width-xs: var(--rijkshuisstijl-border-width-1);
  --mox-box-shadow-default: 0 0 6px 0 var(--rijkshuisstijl-color-grijs-400);
  --mox-color-accent-default: var(--rijkshuisstijl-color-lintblauw-500);
  --mox-color-background-canvas: var(--rijkshuisstijl-color-neutraal-wit); /** Onderste laag, pagina- of app-achtergrond */
  --mox-color-background-default: var(--mox-color-background-canvas); /** Primaire oppervlak (kaarten, panelen, contentgebieden) */
  --mox-color-background-inverse: var(--rijkshuisstijl-color-lintblauw-500); /** Donker oppervlak in een licht thema (en andersom), voor contrastrijke secties zoals footers */
  --mox-color-background-raised: var(--rijkshuisstijl-color-grijs-100); /** Verhoogde oppervlakken zoals kaarten, popovers en dropdowns. Zit visueel boven color.background.default */
  --mox-color-background-subtle: var(--rijkshuisstijl-color-grijs-100); /** Gedempt oppervlak, voor secundaire panelen of verdiepte gebieden zoals codeblokken en tabelkoppen */
  --mox-color-border-default: var(--rijkshuisstijl-color-grijs-600); /** Standaardranden voor invoervelden, kaarten en scheidingslijnen */
  --mox-color-border-inverse: var(--rijkshuisstijl-color-grijs-200); /** Randen op color.*.inverse en donkere oppervlakken */
  --mox-color-border-strong: var(--rijkshuisstijl-color-grijs-700); /** Randen met hoge nadruk; bijv. invoervelden of visuele groepering */
  --mox-color-border-subtle: var(--rijkshuisstijl-color-grijs-400); /** Zachtere scheiding, bijv. tussen lijstitems of tabelrijen */
  --mox-color-component-badge-background: var(--mox-color-feedback-info-emphasis);
  --mox-color-component-badge-text: var(--mox-color-text-inverse);
  --mox-color-component-footer-background: var(--rijkshuisstijl-color-grijs-700);
  --mox-color-component-subnav-active-background: var(--rijkshuisstijl-color-grijs-400); /** Staat terwijl element ingedrukt is */
  --mox-color-component-subnav-active-icon: var(--mox-color-component-subnav-active-text); /** Staat terwijl element ingedrukt is */
  --mox-color-component-subnav-active-text: var(--mox-color-component-subnav-default-text); /** Staat terwijl element ingedrukt is */
  --mox-color-component-subnav-default-background: var(--rijkshuisstijl-color-neutraal-transparent); /** Ruststaat van klikbaar/tikbaar element */
  --mox-color-component-subnav-default-icon: var(--mox-color-component-subnav-default-text); /** Ruststaat van klikbaar/tikbaar element */
  --mox-color-component-subnav-default-text: var(--mox-color-text-default); /** Ruststaat van klikbaar/tikbaar element */
  --mox-color-component-subnav-hover-background: var(--rijkshuisstijl-color-grijs-200); /** Staat bij aanwijzen met de muis */
  --mox-color-component-subnav-hover-icon: var(--mox-color-component-subnav-hover-text); /** Staat bij aanwijzen met de muis */
  --mox-color-component-subnav-hover-text: var(--mox-color-component-subnav-default-text); /** Staat bij aanwijzen met de muis */
  --mox-color-component-subnav-selected-background: var(--rijkshuisstijl-color-hemelblauw-50); /** Ingeschakeld, aangevinkt, actief element */
  --mox-color-component-subnav-selected-icon: var(--mox-color-component-subnav-selected-text); /** Ingeschakeld, aangevinkt, actief element */
  --mox-color-component-subnav-selected-text: var(--mox-color-interactive-selected-text); /** Ingeschakeld, aangevinkt, actief element */
  --mox-color-feedback-error-border: var(--mox-color-feedback-error-default);
  --mox-color-feedback-error-default: var(--rijkshuisstijl-color-rood-500);
  --mox-color-feedback-error-emphasis: var(--rijkshuisstijl-color-rood-600);
  --mox-color-feedback-error-icon: var(--mox-color-feedback-error-text);
  --mox-color-feedback-error-subtle: var(--rijkshuisstijl-color-rood-50);
  --mox-color-feedback-error-text: var(--rijkshuisstijl-color-rood-500);
  --mox-color-feedback-info-border: var(--mox-color-feedback-info-default);
  --mox-color-feedback-info-default: var(--rijkshuisstijl-color-hemelblauw-400);
  --mox-color-feedback-info-emphasis: var(--rijkshuisstijl-color-hemelblauw-500);
  --mox-color-feedback-info-icon: var(--mox-color-feedback-info-text);
  --mox-color-feedback-info-subtle: var(--rijkshuisstijl-color-hemelblauw-50);
  --mox-color-feedback-info-text: var(--rijkshuisstijl-color-hemelblauw-500);
  --mox-color-feedback-neutral-border: var(--rijkshuisstijl-color-grijs-700);
  --mox-color-feedback-neutral-default: var(--rijkshuisstijl-color-grijs-700);
  --mox-color-feedback-neutral-emphasis: var(--rijkshuisstijl-color-neutraal-gebroken-zwart);
  --mox-color-feedback-neutral-icon: var(--mox-color-feedback-neutral-text);
  --mox-color-feedback-neutral-subtle: var(--rijkshuisstijl-color-grijs-100);
  --mox-color-feedback-neutral-text: var(--mox-color-text-default);
  --mox-color-feedback-success-border: var(--mox-color-feedback-success-default);
  --mox-color-feedback-success-default: var(--rijkshuisstijl-color-groen-400);
  --mox-color-feedback-success-emphasis: var(--rijkshuisstijl-color-groen-500);
  --mox-color-feedback-success-icon: var(--mox-color-feedback-success-text);
  --mox-color-feedback-success-subtle: var(--rijkshuisstijl-color-groen-50);
  --mox-color-feedback-success-text: var(--rijkshuisstijl-color-groen-500);
  --mox-color-feedback-warning-border: var(--mox-color-feedback-warning-default);
  --mox-color-feedback-warning-default: var(--rijkshuisstijl-color-oranje-400);
  --mox-color-feedback-warning-emphasis: var(--rijkshuisstijl-color-oranje-500);
  --mox-color-feedback-warning-icon: var(--mox-color-feedback-warning-text);
  --mox-color-feedback-warning-subtle: var(--rijkshuisstijl-color-oranje-50);
  --mox-color-feedback-warning-text: var(--rijkshuisstijl-color-oranje-500);
  --mox-color-icon-default: var(--mox-color-text-default); /** Primaire iconen (gebruik color.interactive.* voor interactieve iconen) */
  --mox-color-icon-inverse: var(--rijkshuisstijl-color-grijs-200); /** Iconen op color.*.inverse oppervlakken */
  --mox-color-interactive-active-background: var(--mox-color-interactive-hover-background); /** Staat terwijl element ingedrukt is */
  --mox-color-interactive-active-border: var(--mox-color-interactive-hover-border); /** Staat terwijl element ingedrukt is */
  --mox-color-interactive-active-icon: var(--mox-color-interactive-hover-icon); /** Staat terwijl element ingedrukt is */
  --mox-color-interactive-active-text: var(--mox-color-interactive-hover-text); /** Staat terwijl element ingedrukt is */
  --mox-color-interactive-default-background: var(--mox-color-accent-default); /** Ruststaat van klikbaar/tikbaar element */
  --mox-color-interactive-default-border: var(--mox-color-interactive-default-background); /** Ruststaat van klikbaar/tikbaar element */
  --mox-color-interactive-default-icon: var(--mox-color-interactive-default-text); /** Ruststaat van klikbaar/tikbaar element */
  --mox-color-interactive-default-surface: var(--mox-color-background-default);
  --mox-color-interactive-default-text: var(--rijkshuisstijl-color-lintblauw-500); /** Ruststaat van klikbaar/tikbaar element */
  --mox-color-interactive-disabled-background: var(--rijkshuisstijl-color-grijs-300); /** Inactief element */
  --mox-color-interactive-disabled-border: var(--mox-color-interactive-disabled-background); /** Inactief element */
  --mox-color-interactive-disabled-text: var(--mox-color-text-disabled); /** Inactief element */
  --mox-color-interactive-focus-background: var(--rijkshuisstijl-color-lintblauw-50); /** Bij toetsenbord-, spraak-, en switchfocus */
  --mox-color-interactive-focus-outline: var(--rijkshuisstijl-color-lintblauw-600); /** Bij toetsenbord-, spraak-, en switchfocus */
  --mox-color-interactive-hover-background: var(--rijkshuisstijl-color-lintblauw-600); /** Staat bij aanwijzen met de muis */
  --mox-color-interactive-hover-border: var(--mox-color-interactive-hover-background); /** Staat bij aanwijzen met de muis */
  --mox-color-interactive-hover-icon: var(--mox-color-interactive-hover-text); /** Staat bij aanwijzen met de muis */
  --mox-color-interactive-hover-text: var(--rijkshuisstijl-color-lintblauw-600); /** Staat bij aanwijzen met de muis */
  --mox-color-interactive-selected-background: var(--rijkshuisstijl-color-hemelblauw-500); /** Ingeschakeld, aangevinkt, actief element */
  --mox-color-interactive-selected-border: var(--mox-color-interactive-selected-background); /** Ingeschakeld, aangevinkt, actief element */
  --mox-color-interactive-selected-icon: var(--mox-color-interactive-selected-text); /** Ingeschakeld, aangevinkt, actief element */
  --mox-color-interactive-selected-text: var(--rijkshuisstijl-color-hemelblauw-500); /** Ingeschakeld, aangevinkt, actief element */
  --mox-color-interactive-visited-text: var(--rijkshuisstijl-color-paars-500); /** Voor reeds bezochte (tekst-) links */
  --mox-color-text-default: var(--rijkshuisstijl-color-neutraal-gebroken-zwart); /** Primaire brood- en koptekst */
  --mox-color-text-disabled: var(--rijkshuisstijl-color-grijs-500); /** Niet-beschikbare tekst */
  --mox-color-text-inverse: var(--rijkshuisstijl-color-neutraal-wit); /** Tekst op color.background.inverse of op color.feedback.*.emphasis-oppervlakken */
  --mox-color-text-subtle-1: var(--rijkshuisstijl-color-grijs-700); /** Secundaire tekst: beschrijvingen, hulptekst, bijschriften, tijdstempels */
  --mox-color-text-subtle-2: var(--rijkshuisstijl-color-grijs-600); /** Tertiaire tekst: placeholders, metadata */
  --mox-component-text-badge: var(--mox-text-font-weight-bold) var(--rijkshuisstijl-text-font-size-sm) var(--mox-text-font-family-body);
  --mox-focus-outline: var(--mox-border-width-lg) dotted var(--mox-color-interactive-focus-outline);
  --mox-opacity-interactive-disabled: 0.5;
  --mox-page-max-inline-size: 71.25rem;
  --mox-pointer-target-min-size: var(--mox-size-md);
  --mox-size-2xl: var(--rijkshuisstijl-size-160);
  --mox-size-2xs: var(--rijkshuisstijl-size-16);
  --mox-size-3xs: var(--rijkshuisstijl-size-8);
  --mox-size-4xs: var(--rijkshuisstijl-size-4);
  --mox-size-5xs: var(--rijkshuisstijl-size-2);
  --mox-size-component-subnav-width: 13rem;
  --mox-size-icon-lg: var(--rijkshuisstijl-size-32);
  --mox-size-icon-md: var(--rijkshuisstijl-size-24);
  --mox-size-icon-sm: var(--rijkshuisstijl-size-16);
  --mox-size-icon-xl: var(--rijkshuisstijl-size-48);
  --mox-size-lg: var(--rijkshuisstijl-size-64);
  --mox-size-logo-height: var(--rijkshuisstijl-size-88);
  --mox-size-logo-width: var(--rijkshuisstijl-size-48);
  --mox-size-main-nav-nav-item-height: var(--rijkshuisstijl-size-40);
  --mox-size-md: var(--rijkshuisstijl-size-48);
  --mox-size-sm: var(--rijkshuisstijl-size-32);
  --mox-size-xl: var(--rijkshuisstijl-size-96);
  --mox-size-xs: var(--rijkshuisstijl-size-24);
  --mox-space-2xl: var(--rijkshuisstijl-space-40);
  --mox-space-2xs: var(--rijkshuisstijl-space-4);
  --mox-space-3xl: var(--rijkshuisstijl-space-48);
  --mox-space-3xs: var(--rijkshuisstijl-space-2);
  --mox-space-4xl: var(--rijkshuisstijl-space-56);
  --mox-space-4xs: var(--rijkshuisstijl-space-1);
  --mox-space-5xl: var(--rijkshuisstijl-space-64);
  --mox-space-lg: var(--rijkshuisstijl-space-24);
  --mox-space-margin-lg: var(--mox-space-2xl);
  --mox-space-margin-md: var(--mox-space-xl);
  --mox-space-margin-sm: var(--mox-space-lg);
  --mox-space-md: var(--rijkshuisstijl-space-16);
  --mox-space-padding-2xs: var(--mox-space-2xs);
  --mox-space-padding-md: var(--mox-space-md);
  --mox-space-padding-sm: var(--mox-space-sm);
  --mox-space-padding-xs: var(--mox-space-xs);
  --mox-space-sm: var(--rijkshuisstijl-space-12);
  --mox-space-xl: var(--rijkshuisstijl-space-32);
  --mox-space-xs: var(--rijkshuisstijl-space-8);
  --mox-text-code: var(--mox-text-font-weight-semi-bold) var(--rijkshuisstijl-text-font-size-sm) monospace;
  --mox-text-component-text-badge: var(--mox-text-font-weight-bold) var(--rijkshuisstijl-text-font-size-xs) var(--mox-text-font-family-body);
  --mox-text-font-family-body: var(--rijkshuisstijl-text-font-family-default);
  --mox-text-font-weight-bold: var(--rijkshuisstijl-text-weight-bold);
  --mox-text-font-weight-regular: var(--rijkshuisstijl-text-weight-default);
  --mox-text-font-weight-semi-bold: var(--rijkshuisstijl-text-weight-semibold);
  --mox-text-heading-h1: var(--mox-text-font-weight-regular) var(--rijkshuisstijl-text-font-size-4xl)/var(--rijkshuisstijl-text-line-height-lg) var(--mox-text-font-family-body);
  --mox-text-heading-h2: var(--mox-text-font-weight-regular) var(--rijkshuisstijl-text-font-size-3xl)/var(--rijkshuisstijl-text-line-height-lg) var(--mox-text-font-family-body);
  --mox-text-heading-h3: var(--mox-text-font-weight-regular) var(--rijkshuisstijl-text-font-size-2xl)/var(--rijkshuisstijl-text-line-height-lg) var(--mox-text-font-family-body);
  --mox-text-heading-h4: var(--mox-text-font-weight-regular) var(--rijkshuisstijl-text-font-size-xl)/var(--rijkshuisstijl-text-line-height-lg) var(--mox-text-font-family-body);
  --mox-text-heading-h5: var(--mox-text-font-weight-semi-bold) var(--rijkshuisstijl-text-font-size-lg)/var(--rijkshuisstijl-text-line-height-lg) var(--mox-text-font-family-body);
  --mox-text-heading-h6: var(--mox-text-font-weight-semi-bold) var(--rijkshuisstijl-text-font-size-base)/var(--rijkshuisstijl-text-line-height-lg) var(--mox-text-font-family-body);
  --mox-text-label: var(--rijkshuisstijl-text-weight-semibold) var(--rijkshuisstijl-text-font-size-md)/var(--rijkshuisstijl-text-line-height-sm) var(--mox-text-font-family-body);
  --mox-text-nav-footer: var(--mox-text-font-weight-regular) var(--rijkshuisstijl-text-font-size-sm) var(--rijkshuisstijl-text-font-family-default);
  --mox-text-nav-main-nav: var(--mox-text-font-weight-semi-bold) var(--rijkshuisstijl-text-font-size-2xl) var(--rijkshuisstijl-text-font-family-default);
  --mox-text-nav-sub-nav: var(--mox-text-font-weight-regular) var(--rijkshuisstijl-text-font-size-md) var(--rijkshuisstijl-text-font-family-default);
  --mox-text-paragraph-default: var(--rijkshuisstijl-text-weight-default) var(--rijkshuisstijl-text-font-size-md)/var(--rijkshuisstijl-text-line-height-sm) var(--mox-text-font-family-body);
  --mox-text-paragraph-intro: var(--rijkshuisstijl-text-weight-default) var(--rijkshuisstijl-text-font-size-lg)/var(--rijkshuisstijl-text-line-height-sm) var(--mox-text-font-family-body);
  --mox-text-smalltext: var(--rijkshuisstijl-text-weight-default) var(--rijkshuisstijl-text-font-size-sm)/var(--rijkshuisstijl-text-line-height-sm) var(--mox-text-font-family-body);
  --mox-text-text-decoration-hyperlink: underline solid currentColor var(--mox-border-width-xs);
  --mox-transition-default: background .2s ease, border .2s ease, color .2s ease; /** Standaard transitie die toegepast wordt op alle CSS properties. */
}
