/* Importeer Rijkhuisstijl design tokens als variabelen */
@import '_rijkshuisstijl.css';

/* Importeer MOx common design tokens als variabelen */
@import '_mox.css';

/* Importeer reset stijlen */
@import '_reset.css';

/* Voeg Rijksoverheid Sans lettertype toe */
@font-face {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/RijksSansVF-Regular.ttf') format('ttf');
}

@font-face {
    font-family: var(--font-family-primary);
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/RijksSansVF-Italic.ttf') format('ttf');
}

/* Toewerken naar generieke interactieve en feedback staten */
:focus:not(:focus-visible) {
    outline: none; /* Verberg focus outline voor muis-gebruikers, behoud focus outline voor alle andere gebruikers (toetsenbord, spraak, switch) */
}
:focus-visible {
    outline: var(--border-focus);
    outline-offset: var(--focus-outline-offset);
    &[aria-disabled] {
        outline-color: var(--color-disabled-border-default);
    }
    &.negative {
        outline-color: var(--color-negative-border-default);
    }
}

body {
    color: var(--mox-color-text-default);
    font-family: 'RijksSansVF';
}

header {
    .logo {
        margin: 0 auto;
        width: var(--size-logo-width);
    }
    nav {
        li {
            display: inline-block;
        }
    }
}
.page-head {
    margin: 0 auto;
    max-width: 1140px;
    .title {
        font: var(--typography-heading-h1);
    }
}

main {
    margin: 0 auto;
    max-width: 1140px;
}
footer {}

/* Typografie */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
}
x
p {}

a {
    color: var(--link-color);
    text-decoration: var(--link-text-decoration-color) var(--link-text-decoration-line);
    text-decoration-thickness: var(--link-text-decoration-thickness);
    text-underline-offset: var(--link-text-underline-offset);
    &:hover {
        color: var(--link-hover-color);
    }
    &:active {
        color: var(--link-active-color);
    }
}

/* Formulier elementen */
form {}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    font: inherit;
    border: var(--form-control-border-width);
}

/* Formulieren: Labeling */
label, legend, .form-helper-text {
    display: block;
}
legend, label {
}
.form-helper-text {
}

/* Knoppen */
button {
    background: var(--button-primary-background-color);
    border: var(--button-border-width) solid var(--button-primary-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-primary-color);
    cursor: pointer;
    min-height: var(--pointer-target-min-block-size);
    min-width: var(--pointer-target-min-inline-size);
    padding: var(--button-padding-block-start) var(--button-padding-inline-start);
    span {
        display: inline-block;
        padding: 0 var(--space-inline-sm) 0 0;
    }
    &:hover, &:focus-visible {
        background: var(--button-primary-hover-background-color);
        border-color: var(--button-primary-hover-border-color);
        color: var(--button-primary-hover-color);
    }
    &:active {
        background: var(--button-primary-active-background-color);
        border-color: var(--button-primary-active-border-color);
        color: var(--button-primary-active-color);
    }
    &[aria-disabled] {
        background: var(--button-primary-disabled-background-color);
        border-color: var(--button-primary-disabled-border-color);
        color: var(--button-primary-disabled-color);
        cursor: not-allowed;
    }
    &.negative {
        background: var(--button-negative-background-color);
        border-color: var(--button-negative-border-color);
        &:hover, &:focus-visible {
            background: var(--button-negative-hover-background-color);
            border-color: var(--button-negative-hover-border-color);
        }
        &:active {
            background: var(--button-negative-active-background-color);
            border-color: var(--button-negative-active-border-color);
        }  
    }
    &.secondary {
        background: var(--button-secondary-background-color);
        border-color: var(--button-secondary-border-color);
        color: var(--button-secondary-color);
    }
}

/* Formulier: Label */
label {
    color: var(--form-field-label-color);
    font-size: var(--form-field-label-font-size);
    font-weight: var(--form-field-label-font-weight);
    &:not([type=checkbox], [type=radio]) {
        margin-bottom: var(--space-block-xs);
    }
}
.form-field-description {
    color: var(--form-field-description-color);
    font-size: var(--form-field-description-font-size);
    margin-bottom: var(--space-block-xs);
}

/* Formulier: Tekstinvoer */
[type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url] {
    border: var(--textbox-border-width) solid var(--textbox-border-color);
    border-radius: var(--textbox-border-radius);
    color: var(--textbox-color);
    font-size: var(--textbox-font-size);
    min-height: var(--pointer-target-min-block-size);
    min-width: var(--pointer-target-min-inline-size);
    padding: var(--textbox-padding-block-start) var(--textbox-padding-inline-start);
    &:hover {
        border-color: var(--textbox-hover-border-color);
    }
    &:focus {
        outline: none;
    }
    &:focus-visible {
        background: var(--focus-background-color);
        outline: var(--border-focus);
        outline-offset: var(--focus-outline-offset);
    }
    &:active {
        border-color: var(--textbox-active-border-color);
    }
    &[aria-invalid] {
        border-color: var(--form-field-invalid-border-color);
        border-width: var(--form-field-invalid-border-width);
    }
}

/* Formulier: Selectie */
[type=checkbox] {}
[type=radio] {}
select {}
select[multiple] {}
optgroup {}
option {}

/* Formulier: Bestand selecteren */
[type=file] {}

/* Navigatie: Kruimelpad */
.breadcrumb {
    ol {
        list-style: none;
        padding: 0 var(--breadcrumb-padding-inline);
        li {
            display: inline-block;
            &:not(:last-child)::after {
                content: '/';
                margin: 0 var(--space-inline-xs);
            }
        }
    }
}