/* Importeer Rijkhuisstijl design tokens als variabelen */
@import '_variables.css';

/* Importeer reset-stijlen */
@import '_reset.css';

/* Voeg Rijksoverheid Sans lettertype toe */
@font-face {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RijksSansVF-Regular.ttf') format('ttf');
}

@font-face {
    font-family: var(--font-family-primary);
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/RijksSansVF-Italic.ttf') format('ttf');
}

body {
    color: var(  --color-text-body);
    font-family: 'RijksSansVF';
}

header {
    .logo {
        margin: 0 auto;
        width: var(--size-logo-width);
    }
    nav {
        li {
            display: inline-block;
        }
    }
}
.page-head {
    margin: 0 auto;
    max-width: 1140px;
    .title {
        font: var(--typography-heading-h1);
    }
}

main {
    margin: 0 auto;
    max-width: 1140px;
}
footer {}

/* Formulier elementen */
form {}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    font: inherit;
    border: var(--form-control-border-width);
}

/* Formulieren: Labeling */
label, legend, .form-helper-text {
    display: block;
}
legend, label {
}
.form-helper-text {
}

/* Formulier: Knoppen */
button {
    background: var(--);
}

/* Formulier: Tekstinvoer */
[type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url] {
    max-width: var(--form-control-max-inline-size);
    &:hover {
    }
    &:focus {
    }
    &:active {
    }
}

/* Formulier: Selectie */
[type=checkbox] {}
[type=radio] {}
select {}
select[multiple] {}
optgroup {}
option {}

/* Formulier: Bestand selecteren */
[type=file] {}


/* Ruimtelijk systeem */
/* Groeperen */
.space-4 {height: var(--space-4);width: var(--space-4);}
.space-8 {height: var(--space-8);width: var(--space-8);}
.space-12 {height: var(--space-12);width: var(--space-12);}
.space-16 {height: var(--space-16);width: var(--space-16);}
.space-24 {height: var(--space-24);width: var(--space-24);}
/* Afzonderen */
.space-32 {height: var(--space-32);width: var(--space-32);}
.space-40 {height: var(--space-40);width: var(--space-40);}
.space-48 {height: var(--space-48);width: var(--space-48);}