<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/style/style.css' | url }}">
    <meta name="description" content="{{ description | default('MijnOverheid Zakelijk') }}">
    <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | url }}" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="{{ '/assets/favicon/touch-icon.png' | url }}">
    <link rel="apple-touch-icon" href="{{ '/assets/favicon/apple-touch-icon.png' | url }}">
    {% block extraStyles %}{% endblock %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

{% if headerType == "overheid" %}
    {% include "header-overheid.njk" %}
{% else %}
    {% include "header-rijksoverheid.njk" %}
{% endif %}

<main>
    {{ content | safe }}
</main>

{% if footerType == "overheid" %}
    {% include "footer-overheid.njk" %}
{% else %}
<footer></footer>
{% endif %}

</body>
</html>
