<footer>

    <div class="footer-links">

        <nav>
            <h4>Over deze site</h4>
            <ul>
                <li><a href="#">Wat is MijnOverheid Zakelijk</a></li>
                <li><a href="#">Toegankelijkheid</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </nav>

        <nav>
            <h4>Gegevensverwerking</h4>
            <ul>
                <li><a href="#">Veiligheid</a></li>
                <li><a href="#">Privacyverklaring</a></li>
                <li><a href="#">Wet- en regelgeving</a></li>
            </ul>
        </nav>

        <nav>
            <h4>Service</h4>
            <ul>
                <li><a href="#">Mededelingen</a></li>
                <li><a href="#">Herken oplichting</a></li>
                <li><a href="#">Veelgestelde vragen</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Klachtafhandeling</a></li>
            </ul>
        </nav>

        <nav>
            <h4>Partners</h4>
            <ul>
                <li><a href="#">Aangesloten organisaties</a></li>
                <li><a href="#" rel="external">Overheid.nl</a></li>
                <li><a href="#" rel="external">Rijksoverheid.nl</a></li>
                <li><a href="#" rel="external">Meldpunt Fouten in Overheidsregistraties</a></li>
            </ul>
        </nav>

    </div>

</footer>
