<header>
    <figure class="logo">
        <img src="/assets/images/beeldmerk-rijksoverheid.svg" alt="">
    </figure>
    <div class="page-head">
        <span class="page-title">MijnOverheid Zakelijk</span>
        <div>
            R.J. Vogel
            <a href="#">Uitloggen</a>
        </div>
    </div>
</header>
