<aside>
    <nav class="sub-nav">
        <ul>
            {% for item in subNav %}
                <li>
                    <a class="icon-link" href="{{ item.url | url }}"{% if page.url == (item.url | url) %} aria-current="page"{% endif %}>
                        {% if item.icon %}{% icon item.icon %}{% endif %}
                        {{ item.label }}
                        {% if item.badge %}<span class="badge">{{ item.badge }}</span>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>