<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOx design systeem: Layout</title>
    <link rel="stylesheet" href="../style/style.css">
    <meta name="description" content="Rijkshuisstijl voorbeeld met design tokens">
    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="../assets/favicon/touch-icon.png">
    <link rel="apple-touch-icon" href="../assets/favicon/apple-touch-icon.png">
</head>
<body>
    
<header>
    <figure class="logo">
        <img src="../assets/images/beeldmerk-rijksoverheid.svg" alt="">
    </figure>
    <nav class="main-nav">
        <ul>
            <li><a href="#" aria-current="page">Home</a></li>
            <li><a href="">Pagina 1</a></li>
            <li><a href="">Pagina 2</a></li>
            <li><a href="">Pagina 3</a></li>
            <li><a href="">Pagina 4</a></li>
        </ul>
    </nav>
</header>

<main>

    <aside>
        <nav class="sub-nav">
            <ul>
                <li><a href="#" aria-current="page">Sectie 1</a></li>
                <li><a href="#">Sectie 2</a></li>
                <li><a href="#">Sectie 3</a></li>
                <li><a href="#">Sectie 4</a></li>
                <li><a href="#">Sectie 5</a></li>
            </ul>
        </nav>
    </aside>

    <article>
        <h1>Heading 1</h1>
    </article>

</main>

<footer></footer>

</body>
</html>